// Component container
main.card_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  // button spacing
  button.m-1 {
    margin: 0.15rem !important;
  }
  div.product_container {
    min-width: 18rem;
    width: 18rem;
    min-height: 25rem;
    // top left ribbon style
    div.recommended {
      position: absolute;
      top: 1vh;
      left: -1rem;
      background-color: rgb(51, 5, 80);
      color: white;
      padding: 0.2rem 0.5rem;
    }
    .ribbon {
      --p: 15px;
      // background-color: rgb(170, 170, 170);
      // display: inline-block;
      // height: 60px;
      // margin-bottom: 10px;
      // margin-top: 20px;
      // padding: 0 var(--p);
      // position: relative;
      // right: var(--p);
      // text-align: center;
      // width: 100%;
    }

    .ribbon:before,
    .ribbon:after {
      background-color: inherit;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: calc(var(--p) / 2);
      width: var(--p);
      filter: brightness(0.5);
      z-index: -1;
    }

    .ribbon:before {
      left: 0;
      transform: skewy(45deg);
    }

    .ribbon:after {
      right: 0;
      transform: skewy(-45deg);
    }
    // discount style
    div.discount {
      position: absolute;
      top: 1vh;
      right: -1rem;
      background-color: #006d80;
      color: white;
      padding: 0.75rem 0.35rem;
      border-radius: 50%;
      font-size: 0.9rem;
    }
    // product details style
    div.product_item {
      margin-top: 2rem;
      display: flex;
      min-height: 100%;
      align-items: center;
      img {
        width: 45%;
        object-fit: cover;
      }
      h3.price {
        margin-top: 1rem;
        color: #006d80;
      }
      span.color {
        button {
          padding: 0.7rem;
        }
        button.active{
          border: 1px solid #0000004b;
          box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.479);
        }
        button.gold {
          background-color: #e6d1b4;
        }
        button.graphite {
          background-color: #51504c;
        }
        button.blue {
          background-color: #94acc4;
        }
        button.silver {
          background-color: #e9e9e9;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main.card_container {
    div.product_container {
      min-width: 90%;
      width: 90%;
      min-height: 10rem;
      // max-width: 10rem;
      p.card-text {
        display: none;
      }
    }
  }
}
